#form {
    width: 200px;
    display: flex;
    align-items: center;
    position: absolute;
    gap: 10px;
    z-index: 999;
    margin-top: 80px;
    margin-left: 15px;
}

#searchInput {
    width: 90%;
    line-height: 1.5rem;
    background-color: #519c901a;
    border: 1px solid #DB005B;
    border-radius: 10px;
    padding-left: 10px;
}

#searchInput::placeholder {
    color: #67ffd9;
}