@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

.navbar {
  background-color: #e74687;
  overflow: hidden;
}

.logo-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px 0 10px;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ddd;
}

.backArrow__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    gap: 5px;
}

.year {
    line-height: 30px;
    font-weight: 300;
}

.mic__container {
    display: flex;
    gap: 20px;
}

/* Hamburger Icon for Mobile */
@media screen and (max-width: 600px) {
  .logo-container {
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .nav-list {
    margin: 10px 0;
  }

  .nav-link {
    font-size: 18px;
  }

  /* Add styles for the hamburger icon */
  .navbar .menu-icon {
    display: block;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
  }
}
